@page "/"

<h1>米歐的練習筆記</h1>

@for (var i = 1; i <= 8; i++)
{
    var buttonNumber = i;

    <button class="btn btn-primary" onclick="@(() => ChangeIndex(buttonNumber))">@("Practice0" + i)</button>
}

@if (index == 1)
{<Practice01 /> }
else if (index == 2)
{ <Practice02 /> }
else if (index == 3)
{ <Practice03 /> }
else if (index == 4)
{ <Practice04 /> }
else if (index == 5)
{ <Practice05 />}
else if (index == 6)
{ <Practice06 />}
else if (index == 7)
{ <Practice07 />}
else if (index == 8)
{ <Practice08 />}

@functions{
    private int index = 0;

    private void ChangeIndex(int value)
    {
        index = value;
    }
}