@page "/note"

<h1>重點紀錄</h1>

<h3>Day 01</h3>

<p>@@page 設定此 Component 的路由位置，如果沒有只是 route 找不到，還是能當 Component 使用。 - Practice01</p>
<p>[Parameter] 屬性(attr) 可使外部攜帶參數來呼叫此 Component，若外部攜帶參數呼叫時，但 Component 沒有該參數的話，編譯能成功但出現一片白。 - Practice01</p>
<p>欄位初始設定式無法參考非靜態欄位、方法或屬性(prop)。 - Practice01</p>
<p>@@function 定義 Component 的狀態(如屬性(prop)、作用域)與方法等邏輯與事件處理。 - Practice01</p>

<h3>Day 02</h3>

<p>@@inject 將服務實例注入到組件。 - Practice02</p>
<p>若要在 onclick 方法中添加參數，需以 onclick=@@(() => Mymethod(MyParam)) 方式撰寫。 - Index</p>
<p>onclick 的賦值方式不是很確定，無法直接讓 for 迴圈的 i 給方法使用，需要有一個固定變數去傳遞，這部分感覺是非同步。 - Index</p>
<p>on 開頭的 HTML 事件，對於某些事件，允許使用特定於事件的事件參數類型。 - Practice03, Practice04</p>
<p>若要動態繫結子模組的參數，需以 bind- 當參數前綴，並在子模組增加改變事件參數，才能實現動態繫結。 - Practice04</p>

<h3>Day 03</h3>

<p>CheckBox 在處理完事件重新排序後，本來的位置會有錯誤存在，增加 id 屬性來觀察結果一樣。 - Practice05</p>