<h1>Practice03</h1>

<h2>@message</h2>

@for (var i = 1; i < 4; i++)
{
    var buttonNumber = i;

    <button class="btn btn-primary"
            onclick="@(e => UpdateHeading(e, buttonNumber))">
        按鈕 #@i
    </button>
}

@functions {
    string message = "點選按鈕顯示滑鼠位置";

    void UpdateHeading(UIMouseEventArgs e, int buttonNumber)
    {
        message = $"你選擇了按鈕 #{buttonNumber} 滑鼠位於: {e.ClientX} X {e.ClientY}.";
    }
}