@page "/reference"

<h1>參考連結</h1>

<p><a href="https://docs.microsoft.com/zh-tw/aspnet/core/tutorials/build-your-first-razor-components-app?view=aspnetcore-3.0" target="_blank">Build your first Razor Components app | Microsoft Docs</a></p>
<p><a href="https://blog.darkthread.net/blog/blazor-preview/" target="_blank">Blazor 預覽筆記-黑暗執行緒</a></p>
<p><a href="https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0" target="_blank">Create and use Razor Components | Microsoft Docs</a></p>
<p><a href="https://github.com/aspnet/Blazor/issues/923" target="_blank">Passing arguments to onclick · Issue #923 · aspnet/Blazor</a></p>
<p><a href="http://learn-blazor.com/architecture/interop/" target="_blank">JavaScript Interop :: Learn Blazor</a></p>

<h1>補充連結</h1>

<p><a href="https://docs.microsoft.com/zh-tw/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.0" target="_blank">.NET Core 中的相依性插入</a></p>